aws_profile             = "default"
aws_region              = "us-east-1"
db_instance_identifier  = "nxtcloud-postgres"
postgres_version        = "17.6"
instance_class          = "db.t3.micro"
allocated_storage       = 20
database_name           = "nxtcloud_db"
db_master_username      = "postgres"
db_master_password      = "your-secure-password"
num_users               = 2
